<<<<<<< HEAD
* {
    margin: 0px;
    border: border-box;
    font-family: Arial;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    height: 55px;
    width: 100px;
}

.logo {
    background-image: url(images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
    border: 2px solid transparent;
}

.border:hover{
    border: 1.4px solid white;
    border-radius: 3px;
}


.add1{
    color: #cccccc;
    font-size: 17px; 
    margin-left: 15px;
}

.add2{
    font-size: 14px;
    margin-left: 3px;
}

.loc_sub1{
    display: flex;
    align-items: center;
}

.search-bar{
    display: flex;
    align-items: center;
    background-color: orange;
    border-radius: 3px;
    width: 620px;
    height: 39px;
}

.search-bar:hover{
    border: 2px solid orange;
    border-radius: 3px;
}

.search-select{
    height: 40px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #f3f3f3;
    text-align: center;
    width: 50px;
    border: none;

}

.search-input{
    height: 34.5px;
    width: 530px;
    font-size: medium;
}

.search-icon{
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    font-size: 1.1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


span{
    font-size: 14px;
}

.nav-second{
    font-size: 16px;
    font-weight: 700;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart i{
    font-size: 30px;
}

.panel-all{
    background-color: rgb(6, 6, 57);
    display: flex;
    height: 30px;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

.panel-ops p{
    display: inline;
    display: inline-flex;
    padding-left: 10px;
    font-size: 0.85rem;
}

.panel-ops{
    width: 70%;
}

.panel-deals{
    font-size: 0.85rem;
    font-weight: 700;
}


.hero-section{
    background-image: url(images/hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    height: 40px;
    width: 80%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.hero-msg a{
    color: rgb(9, 9, 255);
}


.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box{
    border: 2px solid black;
    height: 300px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box1 .image{
    background-image: url(images/box1_image.jpg);
}

.box2 .image{
    background-image: url(images/box2_image.jpg);
}

.box3 .image{
    background-image: url(images/box3_image.jpg);
}

.box4 .image{
    background-image: url(images/box4_image.jpg);
}

.box5 .image{
    background-image: url(images/box5_image.jpg);
}

.box6 .image{
    background-image: url(images/box6_image.jpg);
}

.box7 .image{
    background-image: url(images/box7_image.jpg);
}

.box8 .image{
    background-image: url(images/box8_image.jpg);
}

.image{
    height: 230px;
    background-size: cover;
}

.box-content{
    margin-left: 10px;
    margin-right: 10px;
}

footer{
    margin-top: 15px;
}

.foot-panel1{
    color: white;
    background-color: #37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}

.foot-panel2{
    color: white;
    background-color: #1a222b;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    display: block;
    margin-top: 10px;
    color: #dddddd;
}

ul p{
    margin-top: 30px;
    font-weight: 700;
}

.foot-panel3{
    background-color: #1a222b;
    color: white;
    border-top: 1px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 70px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.pages{
    padding-top: 10px;
    font-size: medium;
    text-align: center;
}


.copyright{
    padding-top: 5px;
    font-size: medium;
    text-align: center;
=======
* {
    margin: 0px;
    border: border-box;
    font-family: Arial;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    height: 55px;
    width: 100px;
}

.logo {
    background-image: url(images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
    border: 2px solid transparent;
}

.border:hover{
    border: 1.4px solid white;
    border-radius: 3px;
}


.add1{
    color: #cccccc;
    font-size: 17px; 
    margin-left: 15px;
}

.add2{
    font-size: 14px;
    margin-left: 3px;
}

.loc_sub1{
    display: flex;
    align-items: center;
}

.search-bar{
    display: flex;
    align-items: center;
    background-color: orange;
    border-radius: 3px;
    width: 620px;
    height: 39px;
}

.search-bar:hover{
    border: 2px solid orange;
    border-radius: 3px;
}

.search-select{
    height: 40px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #f3f3f3;
    text-align: center;
    width: 50px;
    border: none;

}

.search-input{
    height: 34.5px;
    width: 530px;
    font-size: medium;
}

.search-icon{
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    font-size: 1.1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


span{
    font-size: 14px;
}

.nav-second{
    font-size: 16px;
    font-weight: 700;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart i{
    font-size: 30px;
}

.panel-all{
    background-color: rgb(6, 6, 57);
    display: flex;
    height: 30px;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

.panel-ops p{
    display: inline;
    display: inline-flex;
    padding-left: 10px;
    font-size: 0.85rem;
}

.panel-ops{
    width: 70%;
}

.panel-deals{
    font-size: 0.85rem;
    font-weight: 700;
}


.hero-section{
    background-image: url(images/hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    height: 40px;
    width: 80%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.hero-msg a{
    color: rgb(9, 9, 255);
}


.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box{
    border: 2px solid black;
    height: 300px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box1 .image{
    background-image: url(images/box1_image.jpg);
}

.box2 .image{
    background-image: url(images/box2_image.jpg);
}

.box3 .image{
    background-image: url(images/box3_image.jpg);
}

.box4 .image{
    background-image: url(images/box4_image.jpg);
}

.box5 .image{
    background-image: url(images/box5_image.jpg);
}

.box6 .image{
    background-image: url(images/box6_image.jpg);
}

.box7 .image{
    background-image: url(images/box7_image.jpg);
}

.box8 .image{
    background-image: url(images/box8_image.jpg);
}

.image{
    height: 230px;
    background-size: cover;
}

.box-content{
    margin-left: 10px;
    margin-right: 10px;
}

footer{
    margin-top: 15px;
}

.foot-panel1{
    color: white;
    background-color: #37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}

.foot-panel2{
    color: white;
    background-color: #1a222b;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    display: block;
    margin-top: 10px;
    color: #dddddd;
}

ul p{
    margin-top: 30px;
    font-weight: 700;
}

.foot-panel3{
    background-color: #1a222b;
    color: white;
    border-top: 1px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 70px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.pages{
    padding-top: 10px;
    font-size: medium;
    text-align: center;
}


.copyright{
    padding-top: 5px;
    font-size: medium;
    text-align: center;
>>>>>>> 86f6f3bc12bebf4f8241deb7623255082c604984
}